* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #1e1e1e;
  color: #a0a0a0;
  line-height: 1.6;
}
.main-container {
  margin-left: 400px;
  margin-top: 100px;
  display: grid;
  max-width: 1200px;
  grid-template-columns: 350px 1fr;
  gap: 40px;
}
.sidebar {
  height: 70vh;
  background-color: #2a2a2a;
  border-radius: 10px;
}
.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.main-content {
  height: 90vh;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 16px;
  border-color: 1px solid #3a3a3a;
}
.profile-picture {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  zoom: 120%;
  margin-bottom: 15px;
  border: 3px solid #d6bebe;
}
.profile-name {
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 5px;
  margin-top: 10px;
}
.profile-title {
  background-color: #1e1e1e;
  font-size: 0.8rem;
  color: #dde807;
  padding: 5px 15px;
  border: 1px solid #272817;
  border-radius: 8px;
  display: inline-block;
  margin-top: 10px;
}
.about-me {
  margin-top: 5px;
  border-top: 3px solid #717171;
  padding-top: 20px;
  margin-left: 15px;
}
.label {
  font-size: 0.8rem;
  font-weight: 500;
  color: #a0a0a0;
}
.value {
  font-size: 0.8rem;
  font-weight: 500;
  color: #e0e0e0;
  text-decoration: none;
}
.email,
.phone {
  margin: 10px 0;
}
.social-wrapper {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.social-media {
  display: flex;
}

.social-media ul {
  margin-top: 20px;
  margin-right: 50px;
  display: inline;
  align-items: center;
}
.social-icon {
  width: 40px;
  height: 40px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
  cursor: pointer;
}
.social-icon:hover {
  transform: translateY(-5px) scale(1.1);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
}
/* Main content */

.main-content {
  height: auto;
  width: 900px;
}

#navigation {
  border-bottom: 2px solid #3a3a3a;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

nav a {
  text-decoration: none;
  color: #a0a0a0;
  font-weight: 500;
  transition: color 0.3s ease;
}

.active,
nav a:hover {
  color: #ffbf00;
}
/* about Me */
.heading {
  color: #e0e0e0;
  font-size: 2rem;
  margin-top: 15px;
}
.line {
  width: 60px;
  height: 5px;
  background-color: #ffbf00;
  margin-bottom: 20px;
}
.content {
  text-align: justify;
}
#about {
  margin-bottom: 30px;
}
/* skills */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 70px;
}

.item {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid #3a3a3a;
  text-align: center;
  margin-top: 20px;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
  background-color: #1e1e1e;
}

.item img {
  height: 48px;
  width: 48px;
  filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg)
    brightness(110%) contrast(101%);
  margin-bottom: 15px;
}

.item h3 {
  font-size: 1rem;
  font-weight: 500;
}

.item:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.3);
}

/* education */
#education {
  margin-top: 30px;
}
.edtech {
  position: relative;
  margin-top: 20px;
}

.year {
  font-size: 0.9rem;
  color: #a0a0a0;
  margin-bottom: 5px;
}
.degree {
  color: #e0e0e0;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.collage {
  font-style: italic;
  color: #a0a0a0;
  margin-bottom: 10px;
}
.work {
  color: #a0a0a0;
}
.edfirst,
.edsecond {
  margin-bottom: 30px;
  padding-left: 25px;
  position: relative;
}

.goal {
  height: 15px;
  width: 15px;
  border: 5px solid #ffbf00;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 5;
}
.liner {
  position: absolute;
  width: 2px;
  top: 0px;
  bottom: 0px;
  left: 5px;
  border: 2px solid #3a3a3a;
}

/*-- portfolio --*/

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}
.project {
  background-color: #1e1e1e;
  border-radius: 12px;
  border: 1px solid #3a3a3a;
  overflow: hidden;
}
.project img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
